*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: inline;
    justify-self: start;
    align-items: center;
    height: 100vh;
    background-color: red;
    font-size: 30;
}
